<section class="text-input">
  <input type="text">
</section>
<section class="keys">
  <ul>
    <li class="key-row">
      <ul>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="1-action">{{oneAction}}</span>
            <label class="key-label">1</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="2-action">{{twoAction}}</span>
            <label class="key-label">2</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="3-action">{{threeAction}}</span>
            <label class="key-label">3</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="4-action">{{fourAction}}</span>
            <label class="key-label">4</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="5-action">{{fiveAction}}</span>
            <label class="key-label">5</label>
          </button>
        </li>
      </ul>
    </li>
    <li class="key-row">
      <ul>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="q-action">{{qAction}}</span>
            <label class="key-label">q</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="w-action">{{wAction}}</span>
            <label class="key-label">w</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="e-action">{{eAction}}</span>
            <label class="key-label">e</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="r-action">{{rAction}}</span>
            <label class="key-label">r</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="t-action">{{tAction}}</span>
            <label class="key-label">t</label>
          </button>
        </li>
      </ul>
    </li>
    <li class="key-row">
      <ul>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="a-action">{{aAction}}</span>
            <label class="key-label">a</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="s-action">{{sAction}}</span>
            <label class="key-label">s</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="d-action">{{dAction}}</span>
            <label class="key-label">d</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="f-action">{{fAction}}</span>
            <label class="key-label">f</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="g-action">{{gAction}}</span>
            <label class="key-label">g</label>
          </button>
        </li>
      </ul>
    </li>
    <li class="key-row">
      <ul>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="z-action">{{zAction}}</span>
            <label class="key-label">z</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="x-action">{{xAction}}</span>
            <label class="key-label">x</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="c-action">{{cAction}}</span>
            <label class="key-label">c</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="v-action">{{vAction}}</span>
            <label class="key-label">v</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="b-action">{{bAction}}</span>
            <label class="key-label">b</label>
          </button>
        </li>
      </ul>
    </li>
    <li class="key-row">
      <ul>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="tab-action">{{tabAction}}</span>
            <label class="key-label">tab</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="shift-action">{{shiftAction}}</span>
            <label class="key-label">shift</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="ctrl-action">{{ctrlAction}}</span>
            <label class="key-label">ctrl</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="alt-action">{{altAction}}</span>
            <label class="key-label">alt</label>
          </button>
        </li>
        <li class="key-wrapper">
          <button>
            <span class="key-action" id="space-action">{{spaceAction}}</span>
            <label class="key-label">space</label>
          </button>
        </li>
      </ul>
    </li>
  </ul>
</section>
