.phone-map-wrapper {
  height: 100%;
}

.map-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-wrapper ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.map-block {
  width: 5vw;
  height: 5vw;
  background: gray;
  list-style: none;
  border: 1px solid black;
}

.map-block-row {
  display: inline-flex;
  list-style: none;
}
.map-block-row ul {
  flex-flow: row;
}

.map-info-wrapper {
  background: #aaa;
  height: 40%;
  width: 100%;
  bottom: 0;
}

.info-column {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-flow: column;
  padding: 10px 0 0 10px;
  width: calc(50% - 20px);
  height: 100%;
}

.info-line {
  height: 20%;
  overflow-y: auto;
}

.info-line .info-title {
  font-weight: bold;
  font-size: 2em;
  display: block;
}
.info-line .info-data {
  color: #ccc;
  font-weight: bold;
  padding-left: 50px;
}
